body
{
    background-color: green;
}
img
{
    height:30%; 
    margin-top: 10px;
}
span
{
    color: white;
    font-family: arial;
    font-size:20pt;
    margin-left: 30px;
}

.btn{
    border:none;
    padding: 10px 30px;
    border-radius:10px;
    cursor:pointer;
}

.btn:hover{
    background:gray;
}

.btnred{
    border:none;
    padding: 10px 30px;
    border-radius:10px;
    background:red;
}